@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 7;
    --board-size: 85vmin;
    --red: #e23838;
    --orange: #f78200;
    --yellow: #ffb900;
    --green: #5ebd3e;
    --blue: #009cdf;
    --purple: #973999;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    cursor: default;
    margin: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: silver;
    text-align: center;
    font-size: 25.5vw;
    margin-top: -10px;
    filter: url(#goo-1);
}

h1 span:nth-child(1) {
    color: var(--red);
}

h1 span:nth-child(2) {
    color: var(--yellow);
}

h1 span:nth-child(3) {
    color: var(--blue);
}

h1 span:nth-child(4) {
    color: var(--orange);
}

h1 span:nth-child(5) {
    color: var(--green);
}

h1 span:nth-child(6) {
    color: var(--purple);
}

.filter {
    display: none;
}

main {
    width: calc(var(--board-size) + 21px);
    height: calc(var(--board-size) / var(--size) + var(--board-size) + 21px);
    margin: auto;
    margin-top: calc(var(--board-size) / var(--size) * -1 / 1.2);
}

.top {
    position: relative;
    width: calc(var(--board-size) + 21px);
    height: calc(var(--board-size) / var(--size) / 1.5);
    border-top: calc(var(--board-size) / var(--size) / 3) solid white;
    background-color: white;
    z-index: 100;
}

.score {
    --radius: 7px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: calc(var(--board-size) / var(--size) * 2);
    height: calc(var(--board-size) / var(--size) / 1.5);
    margin: auto;
    /* background: linear-gradient(to right, #f47707, #fdab01) border-box; */
    background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple)) border-box;
    background-size: 600%;
    background-position: 21%;
    border-left: var(--radius) solid transparent;
    border-right: var(--radius) solid transparent;
    border-radius: calc(2 * var(--radius)) calc(2 * var(--radius)) 0 0 / var(--radius);
    -webkit-mask:
        radial-gradient(var(--radius) at var(--radius) 0, transparent 98%, black 101%)
        calc(-1 * var(--radius)) 100% / 100% var(--radius) repeat-x,
        conic-gradient(black 0 0) padding-box;
    mask:
        radial-gradient(var(--radius) at var(--radius) 0, transparent 98%, black 101%)
        calc(-1 * var(--radius)) 100% / 100% var(--radius) repeat-x,
        conic-gradient(black 0 0) padding-box;
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(var(--size), 1fr);
    width: calc(var(--board-size) + 1px);
    height: calc(var(--board-size) + 1px);
    gap: 1px;
    margin: auto;
    border-radius: 7px;
    padding: 10px;
    background: linear-gradient(to bottom right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
}

.board::after {
    position: absolute;
    content: '';
    width: calc(var(--board-size) + 1px);
    height: 10px;
    left: 10px;
    background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
    background-size: 215%;
    background-position: 5%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 3.5em;
    background-color: white;
    width: calc(var(--board-size) / var(--size) - 1px);
    height: calc(var(--board-size) / var(--size) - 1px);
}

.figure {
    display: grid;
    place-items: center;
    position: absolute;
    cursor: pointer;
    height: calc((var(--board-size) / var(--size) - 1px) * 0.8);
    width: calc(var(--board-size) / var(--size) - 1px);
    transition: opacity 0.5s ease-in;
}

.figure img {
    height: calc(var(--board-size) / var(--size) * 0.8);
    width: auto;
}

.figure::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(var(--board-size) / var(--size) * -0.09);
    bottom: calc(var(--board-size) / var(--size) * -0.09);
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.disappear {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.selected {
    background-color: whitesmoke;
}

.upper {
    z-index: 100;
}

.move {
    transition: transform 0.2s ease;
}

.fall {
    /* transition: transform 0.2s cubic-bezier(0.33, 0, 0.66, 0.33); */
    transition: transform 0.2s linear;
}

.volley {
    animation: volley 0.3s ease-in-out forwards;
}

#designed {
    position: relative;
    text-align: center;
    color: white;
    font-size: 9.2px; 
    margin-top: -12px;
}

@keyframes volley {

    0% {
        transform: scale(1); 
    }
  
    50% {
        transform: scale(1.1); 
    } 

    100% {
        transform: scale(1); 
    } 
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        border-radius: 7px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 121px;
    }

    main {
        width: calc(var(--board-size-big) + 31px);
        height: calc(var(--board-size-big) / var(--size) + var(--board-size-big) + 31px);
        margin-top: calc(var(--board-size-big) / var(--size) * -1 / 1);
    }

    .top {
        border-top: calc(var(--board-size-big) / var(--size) / 3) solid white;
        width: calc(var(--board-size-big) + 31px);
        height: calc(var(--board-size-big) / var(--size) / 1.5);
    }

    .score {
        font-size: 35px;
        width: calc(var(--board-size-big) / var(--size) * 2);
        height: calc(var(--board-size-big) / var(--size) / 1.5);
    }

    .board {
        border-width: 10px;
        width: calc(var(--board-size-big) + 1px);
        height: calc(var(--board-size-big) + 1px);
        padding: 15px;
        gap: 1px;
    }

    .board::after {
        width: calc(var(--board-size-big) + 1px);
        height: 15px;
        left: 15px;
        background-size: 215%;
        background-position: 5%;
    }

    .cell {
        width: calc(var(--board-size-big) / var(--size) - 1px);
        height: calc(var(--board-size-big) / var(--size) - 1px);
    }

    .figure {
        height: calc(var(--board-size-big) / var(--size) * 0.8);
        width: calc(var(--board-size-big) / var(--size));
    }

    .figure img {
        height: calc(var(--board-size-big) / var(--size) * 0.8);
    }

    .figure::after {
        left: 0;
        right: 0;
        top: calc(var(--board-size-big) / var(--size) * -0.09);
        bottom: calc(var(--board-size-big) / var(--size) * -0.09);
    }
    
    #designed {
        font-size: 12.8px; 
        margin-top: -17px;
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
}